$padding = 33px

.card
  display grid
  grid-template-columns 1fr 2fr
  @media (max-width 968px)
    grid-template-columns 1fr

.description
  padding $padding
  background #656565
  display flex
  flex-direction column
  gap 11px
  font-size 16px
  font-weight 400
  & > .supplementation
    color #CBCBCB
  & > .definition
    display flex
    gap 13px
    & > div
      flex 1
      color #FFFFFE
      white-space normal
      word-break break-word
    @media (max-width 1080px)
      flex-direction column
    @media (max-width 968px)
      flex-direction row
    @media (max-width 480px)
      flex-direction column

.comparison
  padding $padding
  background #0098CB
  display flex
  flex-direction column
  color #FFFFFE
  gap 26px
  font-size 24px
  font-weight 400
  & > div
    display flex
    flex-direction column
    gap 8px
    & > .code_block
      padding 10px
      background #656565
      font-size 25px
      font-weight 500
      align-items center
      white-space pre
      @media (max-width 768px)
        font-size 3.2vw

.colored
  color var(--color)

.underlined
  text-decoration underline var(--color) 4px
  text-decoration-skip-ink none